.box {
    width: 50%;
    height:50%;
    border: 5px solid;
    padding: 50px;
    margin: auto;
    background-color: #f3f3ba;
    justify-content: center;
    align-items: center;
  }
  .wiersz {
    padding:5px;
    border: 5px solid;
    border-color: rgba(14, 17, 14, 0.133);
  }

  .date{
    display: inline;
  }
  .dane{
    display: inline;
  }
  .usun{
    display: inline;;
  }
  .chceckbox input{
    display:inline;
  }